<!DOCTYPE html>
<html ng-app="tableApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <style>
        form {
            text-align: center;
            margin: 40px 0;
        }
    </style>
    <script>
        var app = angular.module('tableApp', []);
        app.controller('tableCtrl', function ($scope) {
            $scope.items = [
                { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
                { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
                { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
                { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];

            $scope.inputs = [
                { name: 'name', checked: true },
                { name: 'price', checked: true },
                { name: 'category', checked: true },
                { name: 'count', checked: true },
                { name: 'tax', checked: true }
            ];
        });

    </script>
</head>
<body ng-controller="tableCtrl">
    <form>
        <h1>Change cheboxes</h1>
        <label ng-repeat="input in inputs" class="checkbox-inline">
            <input type="checkbox" ng-model="input.checked" value="{{input.name}}" />
            {{input.name}}
        </label>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th ng-repeat="input in inputs">
                    <ng-switch on="input.checked">
                        <p ng-switch-when="true">
                            {{input.name}}
                        </p>
                    </ng-switch>
                </th>
                <th>
                    expiration
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="input in inputs">
                    <ng-switch on="input.checked">
                        <p ng-switch-when="true">
                            {{item[input.name]}}
                        </p>
                    </ng-switch>
                </td>
                <td>
                    {{item.expiration}}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>